.wrapper {
    width: 100%
}
.main-header {
    width: 100%;
    min-height: 50px;
    background: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.main-content {
    display: flex;
    width:100%;
}
.side-bar{
    flex: 0.35;
    margin-left: auto;
    background: #fff;
    height: 100vh;
    text-align: center;
}
.side-bar li {
    margin-bottom: 10px;
}
.side-bar li a {
    color:#222;
}

.content {
    flex: 10;
    margin: 10px;
    padding:20px;
    /*background: #fff;*/

}

.main-header .logo {
    font-weight: bold;
    color: dodgerblue;
    text-shadow: 1px 1px 1px dodgerblue;
}




